body {
  font-family: Arial, sans-serif;
  padding: 20px;
  background-color: #f4f4f4;
}

input,
button {
  padding: 10px;
  font-size: 1rem;
}

#buscar {
  /* padding: 10px 16px; */
  font-size: 16px;
  background-color: #007bff; /* azul tipo Bootstrap */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  width: 100%; /* para móviles */
  max-width: 150px;
  box-sizing: border-box;
}

#busqueda {
  width: 100%;
  max-width: 400px;
}

@media (max-width: 500px) {
  body {
    padding: 10px;
  }

  #busqueda {
    width: 85%;
  }

  #buscar {
    width: auto;
    margin-top: 5px;
  }

  .cancion {
    max-width: 95%;
    padding: 5px;
    gap: 10px;
  }
}

#resultados {
  margin-top: 20px;
  display: grid;
  gap: 15px;
}

.cancion {
  background: #fff;
  border: 1px solid #ccc;
  padding: 15px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  gap: 15px;
}

.cancion img {
  border-radius: 10px;
}

audio {
  margin-top: 10px;
}
